.cards {
  padding: 0;
}

.cards__list {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(auto-fill, minmax(413px, 1fr));
  gap: 40px 20px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: 1fr;
  }
}
