.card {
  max-width: 413px;
  display: flex;
  flex-direction: column;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__like-btn {
  width: 23px;
  height: 20px;
  background: transparent url("../images/like-icon-dark.svg") center no-repeat;
  border: none;
  padding: 0;
  margin: 0;
  opacity: 0.4;
  cursor: pointer;
}
.card__like-btn:hover {
  opacity: 1;
}
@media screen and (max-width: 627px) {
  .card {
    width: 100%;
  }
}

.card__title {
  margin: 0;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
  letter-spacing: 0%;
  font-family: 'Poppins', sans-serif;
}
