.footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__copyright {
  align-items: center;
  justify-content: center;
  margin: 0;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}
