.page {
  background-color: #fcf5e5;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #212121;
}

.page__section {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding: 0 16px;
}

.page__content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .page__section {
    padding: 0 20px;
  }
}
