.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.profile__edit-btn {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-top: auto;
  display: flex;
  gap: 8px;
  opacity: 0.7;
  cursor: pointer;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  webkit-box-orient: vertical;
  max-width: 420px;
}
.profile__add-btn {
  margin-left: auto;
  padding: 0;
  width: 157px;
  height: 52px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  align-self: end;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    width: 100%;
  }

  .profile__avatar {
    margin-right: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }
  .profile__description {
    margin-bottom: 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__column {
    text-align: center;
    margin-right: 0;
  }

  .profile__add-btn {
    margin-left: 0;
    max-width: 288px;
    width: 100%;
  }
}
